@use '/src/styles/tools.scss' as *;

.c-forecast-card {
  display: flex;
  flex-direction: column;
  font-size: 10px;
  gap: 16px;
  width: max-content;
  margin: 0 auto;
  max-width: 90%;

  &__title {
    font-size: 24px;
    font-weight: 600;
  }

  &__days {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  &__day {
    padding: 8px;
    border-radius: 8px;
    background-color: $COLOR_WHITE;
    width: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  &__date-item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
