@use '/src/styles/tools.scss' as *;

.c-header {
  $root: &;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: $COLOR_BLUE_PRIMARY;
  color: $COLOR_WHITE;
  height: 60px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__controls {
    display: flex;
    align-items: center;

    @include sp(&) {
      display: none;
    }

    &.open {
      @include pc(&) {
        display: none;
      }

      @include sp(&) {
        display: flex;
        gap: 24px;
        flex-direction: column;
        padding: 20px;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: $COLOR_BLUE_PRIMARY;
        width: 326px;
        height: calc(100vh - 60px);
        z-index: 1000;
      }
    }
  }

  &__controls-search {
    margin-right: 24px;

    @include sp(&) {
      margin-right: 0;
    }
  }

  &__input {
    padding: 4px 10px;
    border: 1px solid $COLOR_GREY;
    border-radius: 4px;
    color: $COLOR_BLUE_SECONDARY;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &__button {
    padding: 4px 16px;
    border: none;
    border-radius: 4px;
    background-color: $COLOR_WHITE;
    color: $COLOR_BLUE_SECONDARY;
    cursor: pointer;
    margin-left: 5px;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      background-color: $COLOR_BLUE_SECONDARY;
      color: $COLOR_WHITE;
    }

    @include sp(&) {
      padding: 4px 12px;
    }
  }

  &__hamburger {
    display: none;

    .bar {
      width: 80%;
      height: 2px;
      background-color: $COLOR_WHITE;
      transition: all 0.3s ease;
    }

    .bar1 {
      transform: rotate(48deg) translate(4px, 5px);
    }

    .bar2 {
      opacity: 0;
    }

    .bar3 {
      transform: rotate(-49deg) translate(6px, -8px);
    }

    @include sp(&) {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 30px;
      height: 24px;
      cursor: pointer;
    }
  }

  &__controls-language {
    @include sp(&) {
      width: 100%;

      #{$root}__button {
        width: calc(50% - 8px);
      }
    }
  }
}
