@use "/src/styles/tools.scss" as *;

.c-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: $COLOR_BLUE_PRIMARY;
  color: $COLOR_WHITE;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;

  &__copyright {
    margin: 0;
  }
}